.layout-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px; 
    transition: width 0.3s ease-in-out; 
}

.sidebar.collapsed {
    width: 0;
}

.content {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
    color: black;
}


.content.collapsed {
    margin-left: 50px; 
}

@media screen and (max-width: 768px) {
    .layout-container {
        flex-direction: column; /* Cambiar a una columna en pantallas pequeñas */
    }

    .sidebar {
        width: 100%; /* Ocupar todo el ancho disponible */
        height: auto; /* Ajustar la altura automáticamente */
    }

    .content {
        flex: none; /* No se expande, toma su tamaño según su contenido */
        margin-left: 0; /* Ajustar el margen izquierdo */
    }

    .sidebar.collapsed {
        width: 100%; /* Si está colapsado, ocupar todo el ancho disponible */
    }
}
