.layout-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px; 
    transition: width 0.3s ease-in-out; 
}

.sidebar.collapsed {
    width: 0;
}

.content {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
    color: black;
}


.content.collapsed {
    margin-left: 50px; 
}

@media screen and (max-width: 768px) {
    .layout-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .content {
        flex: none;
        margin-left: 0;
    }

    .sidebar.collapsed {
        width: 100%;
    }
}
