.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.search-input {
  flex: 1;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .search-container {
      flex-direction: column;
  }
}

.counter-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.counter-box {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.counter-number {
  font-size: 24px;
  font-weight: bold;
}

.counter-label {
  margin-top: 5px;
}

.custom-slider {
  width: 70%;
  max-width: 800px;
}

.slider-container {
  display: flex;
  justify-content: center;
}

.slick-slide {
  padding-right: 20px;
}
