table {
    border-collapse: collapse; /* Combina los bordes de las celdas */
    width: 100%; /* Ancho de la tabla */
    border: 2px solid black; /* Borde alrededor de la tabla */
}

/* Estilo para las celdas y filas */
th, td {
    border: 1px solid black; /* Borde alrededor de cada celda */
    padding: 8px; /* Espaciado dentro de cada celda */
    text-align: left; /* Alineación del texto a la izquierda */
}

/* Estilo para la cabecera de la tabla */
th {
    background-color: #f2f2f2; /* Color de fondo para los encabezados */
}


.table-frame {
    padding: 20px;
    border: 2px solid #ccc; /* Borde del recuadro */
    border-radius: 8px; /* Bordes redondeados */
    background-color: white; /* Fondo blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    max-width: 90%; /* Ancho máximo del recuadro */
    margin: 20px auto; /* Centramos el recuadro horizontalmente */
}

/* Estilo para la tabla */
.table-content {
    width: 100%; /* La tabla ocupa todo el ancho del recuadro */
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.table-content th, .table-content td {
    padding: 8px;
    border: 1px solid #ccc;
}

.table-content th {
    background-color: #f2f2f2; /* Color de fondo para los encabezados */
}

.search-container {
    margin-bottom: 15px; /* Espaciado debajo del contenedor */
}

.search-input {
    width: 20%; /* Ancho de los inputs para que ocupen la mitad del contenedor */
    padding: 6px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde sutil */
    margin-right: 15px;
}

/* Estilo para el contenedor de botones */
.button-container {
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: center;
    margin-bottom: 10px; /* Espaciado debajo del contenedor */
    align-items: center; /* Alineación vertical de los elementos */
    gap: 50px;
}


/* Estilo para los botones */
.button {
    margin-bottom: 10px; /* Espaciado entre los botones */
    padding: 8px 12px; /* Espaciado interno de los botones */
    border-radius: 5px; /* Bordes redondeados */
    border: none; /* Sin bordes */
    background-color: #0B2B85; /* Color de fondo (puedes cambiarlo) */
    color: white; /* Color del texto */
    cursor: pointer; /* Cursor de puntero */
    margin-right: 10px;
    float: right;
}

.button:hover {
    background-color: #1e45b3; /* Color de fondo al pasar el mouse */
}

.search-input {
    width: 30%; /* Ajusta el ancho según tus necesidades */
    padding: 6px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde sutil */
    margin-right: 10px; /* Espacio entre los campos de entrada */
}


.edit-button,
.delete-button {
    padding: 5px 10px; /* Espaciado interno de los botones */
    border-radius: 5px; /* Bordes redondeados */
    border: none; /* Sin bordes */
    cursor: pointer; /* Cursor de puntero */
    color: white; /* Color del texto */
}

.edit-button {
    background-color: #4CAF50; /* Color de fondo verde */
}

.delete-button {
    background-color: #f44336; /* Color de fondo rojo */
}

.edit-button:hover {
    background-color: #45a049; /* Color de fondo al pasar el mouse */
}

.delete-button:hover {
    background-color: #e53935; /* Color de fondo al pasar el mouse */
}

.align-button{
    text-align: center;
}

.table-scroll-container {
    max-height: 400px; /* Establece la altura máxima del contenedor de la tabla */
    overflow-y: auto; /* Permite el scroll vertical si el contenido supera la altura máxima */
}