table {
    border-collapse: collapse; 
    width: 100%;
    border: 2px solid black;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.table-frame {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin: 20px auto;
}

.table-content {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.table-content th, .table-content td {
    padding: 8px;
    border: 1px solid #ccc;
}

.table-content th {
    background-color: #f2f2f2;
}

.search-container {
    margin-bottom: 15px;
}

.search-input {
    width: 20%;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-right: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
    gap: 50px;
}

.button {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    background-color: #0B2B85;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    float: right;
}

.button:hover {
    background-color: #1e45b3;
}

.search-input {
    width: 30%;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.edit-button,
.delete-button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
}

.edit-button {
    background-color: #4CAF50;
}

.delete-button {
    background-color: #f44336;
}

.edit-button:hover {
    background-color: #45a049;
}

.delete-button:hover {
    background-color: #e53935;
}

.align-button {
    text-align: center;
}

.table-scroll-container {
    max-height: 400px;
    overflow-y: auto;
}
