.form-group label,
.form-group input,
.form-group select {
    text-align: left;
}

.input-style {
    width: 100%;
    padding: 0.3rem;
    border-radius: 4px;
}

.submit-button, .close-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button {
    background-color: #0B2B85;
    color: white;
}

.title {
    text-align: left;
}

.submit-button:hover {
    background-color: #1e45b3;
}

.table-scroll-container {
    overflow-x: auto;
    max-width: 100%;
}
